#wrapper rect {
    fill: cornflowerblue;
    /* transition: all 1s ease-out; */
};
.x-axis-label {
    fill: black;
    font-size: 1.4em;
    text-transform: capitalize;
}
text {
    text-anchor: middle;
    fill:darkblue;
    font-size: 12px;
    font-family: sans-serif;
} 
.mean_line {
        stroke: maroon;
        stroke-dasharray: 15px 2px;
    }
