rect {
    width: 100px;
    background: cornflowerblue; height: 100px;
    };
rect:hover {
    background: yellowgreen; transform: translateX(30px);
    };
rect {
    background: cornflowerblue; height: 100px;
    width: 100px; transition-duration: 1s;
    };
